<div class="text-center fixed-top spinnerContent">
  <div
    class="spinner-grow text-warning"
    *ngIf="spinner"
    style="width: 5rem; height: 5rem"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row text-center mt-2">
  <div class="col-12">
    <!-- <div *ngIf="this.inputMethod == 'textBus'" class="text-center card "><strong>{{textBus}}</strong></div> -->
    <div
      *ngIf="this.inputMethod == 'textBus'"
      class="text-center card text-bus mb-2"
    >
      {{ textBus ? textBus : "Lector de código" }}
    </div>
    <form [formGroup]="searchForm" *ngIf="this.inputMethod == 'form'">
      <div class="input-group input-group-lg">
        <input
          type="text"
          autofocus
          #search
          class="form-control"
          id="bus"
          formControlName="search"
          aria-label="Large"
          aria-describedby="inputGroup-sizing-sm"
        />
        <span class="input-group-append">
          <button
            class="btn btn-primary btn-lg"
            (click)="formSearch()"
            type="button"
          >
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <div class="text-left">
      <strong *ngIf="filters.length">Filtros: </strong>
      <span
        *ngFor="let filter of filters; let i=index"
        class="badge badge-primary"
        (click)="removeFilter(i)"
      >
        {{ filter.label }}
      </span>
    </div>
    <ul class="list-group">
      <ng-container *ngFor="let item of moves; let i = index">
        <li
          *ngIf="item['product_uom_qty'] > item['quantity_done'] || showOk"
          class="text-left list-group-item"
        >
          <div class="row">
            <div class="text-center col-2 pt-0 pb-0 pl-0 pr-0">
              <div
                (click)="openMoveLineModal(i)"
                [ngClass]="{
                  'text-bold': true,
                  'text-white': true,
                  'bg-danger': item['product_uom_qty'] > item['quantity_done'],
                  'bg-success':
                    item['product_uom_qty'] == item['quantity_done'],
                  'bg-warning': item['product_uom_qty'] < item['quantity_done']
                }"
              >
                {{ item["quantity_done"] }}<br />
                <small class="text-bold">Scan</small>
              </div>
              <div>
                {{ item["product_uom_qty"] }}
                <small class="">Res</small>
              </div>
            </div>
            <div class="col-8">
              <div>{{ item["product_id"][1] }}</div>
              <button
                class="btn btn-primary btn-sm"
                (click)="selectPiking(item['picking_id'])"
              >remito: {{ item["picking_id"][1] }}
              </button> <small> Origen: {{ item["origin"] }}</small>
            </div>
            <div class="col-2">
              <button
                type="button"
                (click)="openMoveLineModal(i)"
                [ngClass]="{ btn: true }"
              >
                <i class="fa fa-list"></i>
              </button>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<div class="row text-center">
  <div class="btn-group btn-group-lg fixed-bottom" role="group">
    <button
      type="button"
      (click)="inputMethod = 'form'"
      [ngClass]="{ btn: true, 'btn-info': true, active: inputMethod == 'form' }"
    >
      <i class="fa fa-font"></i>
    </button>
    <button
      type="button"
      (click)="inputMethod = 'textBus'"
      [ngClass]="{
        btn: true,
        'btn-info': true,
        active: inputMethod == 'textBus'
      }"
    >
      <i class="fa fa-barcode"></i>
    </button>
    <button
      type="button"
      (click)="refresh()"
      [ngClass]="{ btn: true, 'btn-info': true }"
    >
      <i class="fa fa-refresh"></i>
    </button>
    <button type="button" (click)="togleShowOk()" class="btn btn-info">
      <i
        [ngClass]="{ fa: true, 'fa-eye': showOk, 'fa-eye-slash': !showOk }"
      ></i>
    </button>
  </div>
</div>

<ng-template #moveLineModal let-modal>
  <div *ngIf="active_index !== undefined" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ moves[active_index]["product_id"][1] }}
        </h5>
        <!--button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button-->
      </div>
      <div class="modal-body">
        <h2 class="bg-danger text-center text-white mb-0">
          {{ moves[active_index]["scanned_qty"] }}
        </h2>
        <div class="bg-dark text-center text-white mt-0">Escaneados</div>

        <div *ngIf="moves[active_index]['picking_id']">
          Remito: <strong>{{ moves[active_index]["picking_id"][1] }}</strong>
        </div>
        <div>
          Unidad:
          <strong>{{ moves[active_index]["product_uom"][1]}}</strong>
        </div>
        
        <div>
          Realizados:
          <strong>{{ moves[active_index]["quantity_done"] }}</strong>
        </div>
        <div>
          Reservados:
          <strong>{{ moves[active_index]["reserved_availability"] }}</strong>
        </div>

        <div>
          Total: <strong>{{ moves[active_index]["product_uom_qty"] }}</strong>
        </div>
        <div>
          Origen:
          <strong>{{ moves[active_index]["origin"] }}</strong>
        </div>


        <div *ngIf="moves[active_index]['barcode']">
          Codigo de barra: <strong>{{ moves[active_index]["barcode"] }}</strong>
        </div>
        <div>
          Codigo interno:
          <strong>{{ moves[active_index]["default_code"] }}</strong>
        </div>
        <div class="btn-group w-100" role="group">
          <button
            type="button"
            (click)="qtyDir = -1"
            [ngClass]="{ btn: true, 'btn-dark': true, active: qtyDir == -1 }"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            (click)="qtyDir = 1"
            [ngClass]="{ btn: true, 'btn-dark': true, active: qtyDir == 1 }"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="btn-group btn-group-lg w-100" role="group">
          <button
            type="button"
            (click)="addScannedQuantity(active_index, 1 * qtyDir)"
            [ngClass]="{ btn: true, 'btn-danger': true }"
          >
            1
          </button>
          <button
            type="button"
            (click)="addScannedQuantity(active_index, 5 * qtyDir)"
            [ngClass]="{ btn: true, 'btn-danger': true }"
          >
            5
          </button>
          <button
            type="button"
            (click)="addScannedQuantity(active_index, 10 * qtyDir)"
            [ngClass]="{ btn: true, 'btn-danger': true }"
          >
            10
          </button>
          <button
            type="button"
            (click)="addScannedQuantity(active_index, 50 * qtyDir)"
            [ngClass]="{ btn: true, 'btn-danger': true }"
          >
            50
          </button>
          <button
            type="button"
            (click)="addScannedQuantity(active_index, 100 * qtyDir)"
            [ngClass]="{ btn: true, 'btn-danger': true }"
          >
            100
          </button>
        </div>
        <hr />
        <button
          *ngIf="
            moves[active_index]['scanned_qty'] &&
            moves[active_index]['quantity_done'] !=
              moves[active_index]['product_uom_qty']
          "
          type="button"
          (click)="parcialMoveProducts(active_index)"
          class="btn btn-block btn-success btn-lg w-100"
        >
          Movimiento parcial de productos
        </button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          aria-label="Close"
          (click)="modal.dismiss()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</ng-template>
