<?xml version='1.0' encoding='utf-8'?>
<widget id="com.filoquin.bid" version="1.0.50" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" 
 xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BID</name>
    <description>
	BID
    </description>
    <author email="Filoquin" href="http://cordova.io">
        Filoquin | JANO
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/mdpi.png" />
        <icon density="ldpi" src="res/ldpi.png" />
        <icon density="hdpi" src="res/hdpi.png" />
        <icon density="xhdpi" src="res/xdpi.png" />
        <icon density="xxhdpi" src="res/xxdpi.png" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
</widget>
