<div class="bg-dark mx-auto p-3 mt-3 rounded text-center">
  <img src="assets/bidinv.png" class="img m-3" />
</div>
<div class="container">

<div class="row text-center p-3  ">
  <a routerLink="/stock-entry/wh-selector" class="d-block p-2 m-2 bg-dark text-light  col rounded text-center">
    <div><i class="fa fa-fw fa-truck fa-5x"></i></div> <small>Ingreso de mercaderia</small>
  </a>
  <a routerLink="/" class="d-block p-2 m-2 bg-dark text-light  col rounded text-center">
    <div><i class="fa fa-fw fa-square fa-5x"></i></div> <small>Mov Internos</small>
  </a>
  <a routerLink="/" class="d-block p-2 m-2 bg-dark text-light  col rounded text-center">
    <div><i class="fa fa-fw fa-square fa-5x"></i></div> <small>Preparación de pedido</small>
  </a>

  <a routerLink="/" class="d-block p-2 m-2 bg-dark text-light  col rounded text-center">
    <div><i class="fa fa-fw fa-square fa-5x"></i></div> <small>Control de stock</small>
  </a>

  <a routerLink="/print-config" class="d-block p-2 m-2 bg-dark text-light  col rounded text-center">
    <div><i class="fa fa-fw fa-print fa-5x"></i></div> <small> Configuración</small>
  </a>
  <a routerLink="/user" class="d-block bg-dark p-2 m-2  text-light col rounded text-center">
    <div><i class="fa fa-fw fa-user fa-5x"></i></div> <small> Usuario</small>
  </a>
</div>
</div>