<ul class="list-group pt-3">
  <!-- <li class="list-group-item bg-info ">
    <a routerLink="/label" class="text-light"><i class="fa fa-fw fa-barcode"></i> Imprimir etiquetas</a></li>
  <li class="list-group-item bg-info ">
    <a routerLink="/prices" class="text-light"><i class="fa fa-fw fa-calendar"></i> Actualización de precios</a></li> -->
  <li class="list-group-item bg-info ">
    <a routerLink="/stock-entry/wh-selector" class="text-light"><i class="fa fa-fw fa-truck"></i> Ingreso de mercaderia</a></li>
  <li class="list-group-item bg-info ">
    <a routerLink="/print-config" class="text-light"><i class="fa fa-fw fa-print"></i> Configuración</a>
    
</li>
  <li class="list-group-item bg-info ">
    <a routerLink="/user" class="text-light"><i class="fa fa-fw fa-user"></i> Usuario</a></li>
</ul>
