<div class="row text-center mt-2 ">
  <div class="col-12">
    <div [style.height.px]="ConfigService.params.labelHeight"  style="background: #eee; ">
      <app-price-label #etiqueta (click)="printTag()" [product]="product"></app-price-label>
    </div>
  </div>
</div>
<div class="text-center spinnerContent">
  <div class="spinner-grow text-warning" *ngIf="spinner" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row text-center ">
  <div class="btn-group btn-group-lg fixed-bottom" role="group">
    <button type="button btn-block" (click)="toglePrintAuto()" [ngClass]="{'btn': true, 'btn-secondary': true, 'active': printAuto}"><i class="fa fa-print"></i>
    </button>
    <button type="button btn-block" data-toggle="modal" data-target="#pricelistModal" [ngClass]="{'btn': true, 'btn-secondary': true}"><i class="fa fa-list"></i>
    </button>
  </div>
</div>
<div class="form-group row">
 <div class="col-12">

        <div class="input-group">
    <input class="form-control" type="text" (ngModelChange)="changeDate($event)" [ngModel]="priceChageDate" id="priceChageDate">
        <span class="input-group-append">
          <button class="btn btn-primary" (click)="getPricechanges(priceChageDate)" type="button">
            <i class="fa fa-search"></i>
          </button>   
        </span>
      </div>


  </div>
</div>
<div class="row mt-2"  >
  <div class="col-12">
    <ul class="list-group">
	<ng-container *ngFor="let product_id of product_ids">
      <li class="list-group-item" *ngIf="product_id['printed'] !=true" (click)="searchByTmplId(product_id)" >{{ product_id['product_tmpl_id'][1] }}
      	{{ product_id['datetime'] | date: "d/M/Y H:mm":"UTC -6"}}
      </li>
	  </ng-container>
    </ul>
  </div>
</div>
<div class="modal fade" id="pricelistModal" tabindex="-1" role="dialog" aria-labelledby="pricelistModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Listas de precio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" (click)="setPriceList(pricelist_ids)">
            <input class="form-check-input me-1" type="checkbox" [checked]="pricelist_ids == selected_pricelist_id" aria-label="todas">
            Todas
          </li>
          <li *ngFor="let pricelist_id of pricelist_ids" (click)="setPriceList(pricelist_id)" class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" [checked]="pricelist_id == selected_pricelist_id">
            {{pricelist_id.name}}
          </li>
        </ul>
      </div-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<img class="overimg" *ngIf="capturedImage" (click)="capturedImage = ''" [src]="capturedImage" style="height: auto; width: 100%; box-shadow: 5px 9px 20px #333;" />
