<div class="container login wh-100">
  <div class="row text-center mt-5">
    <div class="col-12">
    </div>
  </div>
  <div class="row w-100 h-100" *ngIf="isLogged">
    <div class="col-md-4 mb-4 col-12 mx-auto">
      <h5 class="mb-4">Usted esta conectado a {{server_url}}?db={{server_db}}</h5>

        <button (click)="logout()" class="btn btn-login btn-block btn-danger btn-lg w-100">Salir</button>
    
    </div>
  </div>
  <div class="row " *ngIf="!isLogged">
    <div class="col-md-4 col-12 mx-auto">
      <form [formGroup]="authForm" class="login-container p-3" (ngSubmit)="signIn()">

        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
          <label for="email" class="d-none" >Usuario</label>
          <input type="email" placeholder="Usuario" class="form-control input-custom" id="email" aria-describedby="emailHelp"  formControlName="email">
          <div *ngIf="isSubmitted && formControls.email.errors" class="help-block text-white font-italic">
            <div *ngIf="formControls.email.errors.required"><strong>*</strong>Debe ingresar un usuario</div>
          </div>
        </div>
        <div class="form-group"  [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
          <label for="password" class="d-none">Contraseña</label>
          <input type="password" placeholder="Contraseña" class="form-control input-custom" id="password" formControlName="password">
          <div *ngIf="isSubmitted && formControls.password.errors" class="help-block text-white font-italic">
            <div *ngIf="formControls.password.errors.required"><strong>*</strong>Debe ingresar una clave</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
        <button type="submit" class="btn btn-login btn-block btn-success btn-lg w-100">Ingresar</button>
          </div>
        </div>
      </form>
             <a routerLink="/db" class="btn bg-danger p-3 m-2 rounded-lg text-light text-center">{{server_url}}?db={{server_db}}</a>
 
    </div>
  </div>
</div>
