<ng-container *ngIf="inputMethod == 'textBus'">
  <div class="text-center card text-monospace text-bus mb-2">
    {{ textBus ? textBus : "código" }}
  </div>
</ng-container>
{{ log}}
<form [formGroup]="searchForm" *ngIf="inputMethod == 'form'">
  <div class="input-group input-group-lg">
    <input
      type="text"
      autofocus
      #search
      class="form-control"
      id="bus"
      formControlName="search"
      aria-label="Large"
      aria-describedby="inputGroup-sizing-sm"
    />
    <span class="input-group-append">
      <button
        class="btn btn-primary btn-lg"
        (click)="formSearch()"
        type="submit"
      >
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
