<div class="row" *ngFor="let l of log; let i = index">
  <div class="col-12 text-primary bg-danger text-bold text-center ">
    {{ l.component }}
  </div>
  <div class="col-12 text-right">
    {{ l.date }}
  </div>
  <small class="col-12 text-monospace">
    {{ l.error }}
  </small>
</div>

<button
  type="button"
  [ngClass]="{ btn: true, 'btn-danger': true }"
  (click)="clearLog()"
>
  LIMPIAR LOG
</button>

<button
  type="button"
  [ngClass]="{ btn: true, 'btn-primary': true }"
  (click)="sendLog()"
>
  ENVIAR LOG
</button>