<ul class="list-group">
  <ng-container *ngFor="let item of stock_inventory; let i = index">
    <li
      class="text-left list-group-item"
      routerLink="/stock-inventory/{{ item.id }}"
    >
      <strong class="h5">{{ item.name }}</strong> <br />
      <strong>Ubicaciones:</strong>
      <span *ngFor="let location of item.locations; let j = index">
        {{ location.name }} {{ j + 1 != item.locations.length ? ", " : "" }}
      </span>
      <br />
      <strong>Fecha:</strong>
      {{ item.date | date: "d/M/Y H:mm":"UTC -6" }}
      <br />
    </li>
  </ng-container>
</ul>
<!-- <div class="row text-center">
  <div class="btn-group btn-group-lg fixed-bottom" role="group">
    <button
      type="button"
      (click)="inputMethod = 'form'"
      [ngClass]="{ btn: true, 'btn-info': true, active: inputMethod == 'form' }"
    >
      <i class="fa fa-font"></i>
    </button>
    <button
      type="button"
      (click)="inputMethod = 'textBus'"
      [ngClass]="{
        btn: true,
        'btn-info': true,
        active: inputMethod == 'textBus'
      }"
    >
      <i class="fa fa-barcode"></i>
    </button>
    <button
      type="button"
      (click)="refresh()"
      [ngClass]="{ btn: true, 'btn-info': true }"
    >
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
 -->
