<div  *ngIf="product"  [style.height.px]="ConfigService.params.labelHeight"  [style.width.px]="ConfigService.params.labelWidth"   style="background: #FFF; " [width]="ConfigService.params.labelWidth" [height]="ConfigService.params.labelHeight" class="etiqueta">
  <div class="productName" style="text-align: center;"> {{product['display_name']}}</div>
  <h1  class="productPrice" *ngIf="product.prices.length" style="text-align: center;background: #000; color: #FFF;">$ {{product['prices'][0].price | number : '1.2'}}</h1>
  <div class="productcodes">{{product['default_code']}} / {{product['barcode']}}</div>

</div>
